.questionnaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--grey-200);
}

.datetime {
  font-size: var(--h6);
}

.category {
  font-size: var(--paragraph);
  color: var(--grey-500);
}

.noQuestionnaires {
  font-size: var(--paragraph);
  color: var(--grey-400);
  margin-top: 2rem;
  text-align: center;
}
