.pageHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtn {
  position: absolute;
  left: var(--margin-side);
}

.heading {
  font-size: var(--h6);
}

@media (min-width: 1024px) {
  .pageHeading {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .backBtn {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    position: static;
  }

  .backIcon {
    fill: var(--grey-400);
    width: 1rem;
    height: 1rem;
  }

  .backText {
    color: var(--grey-400);
  }

  .heading {
    font-size: var(--h3);
  }
}
