.questions {
  margin-top: 2.5rem;
}

.questionName {
  font-size: var(--h6);
  color: var(--black);
}

.questionName .match {
  font-weight: var(--bold);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--grey-200);
}

.noQuestions {
  text-align: center;
  padding-top: 1.75rem;
  font-size: var(--h6);
  color: var(--grey-400);
}
