.container {
  display: grid;
  place-items: center;
  width: 100%;
}

.avatar {
  background-color: var(--grey-100);
  border-radius: 100%;
  width: min(80%, 30rem);
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

.pebbles {
  grid-area: 1/1;
}
