.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.question {
  font-size: var(--h4);
  margin-top: 2rem;
}

.sliderValue {
  font-size: var(--h2);
  text-align: center;
  line-height: 1;
}

.button {
  margin-top: 1.625rem;
}
