.btnSpacing {
  margin-top: 4rem;
  margin-bottom: 1.25rem;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 6rem;
}
