.infoText {
  color: var(--grey-500);
  margin-bottom: 1.5rem;
}

.submitBtn {
  padding-top: 0;
  margin-top: 2.5rem;
}

.formItems > * + * {
  padding-top: 1rem;
}

@media (min-width: 1024px) {
  .formContainer {
    justify-content: flex-start;
    gap: 3rem;
  }

  .formItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3;
    row-gap: 1.25rem;
    column-gap: 2rem;
  }

  .formItems > *:nth-child(1) {
    grid-column: span 3;
  }

  .formItems > *:nth-child(3) {
    grid-row-start: 3;
  }

  .formItems > * + * {
    padding-top: 0rem;
  }
}

