.searchAndAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchAndAdd {
  margin-top: 1rem;
}

.filters {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.filters button {
  padding: 0.5rem 1rem;
  border-radius: 100rem;
  background-color: var(--grey-200);
  color: var(--black);
  font-size: var(--small);
  font-weight: var(--medium);
  cursor: pointer;
}

.filters button.active {
  background-color: var(--black);
  color: var(--white);
}
