.searchAndAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchAndAdd {
  margin-top: 1rem;
}

.filters {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.filters button {
  padding: 0.5rem 1rem;
  border-radius: 100rem;
  background-color: var(--grey-200);
  color: var(--black);
  font-size: var(--small);
  font-weight: var(--medium);
  cursor: pointer;
}

.filters button.active {
  background-color: var(--black);
  color: var(--white);
}

@media (max-width: 1024px) {
  .searchAndAdd {
    justify-content: center;
    padding: 2.25rem 0 1rem 0;
    width: 100vw;
    margin-left: calc(var(--margin-side) * -1);
  }

  .filters {
    border-bottom: 2px solid var(--grey-200);
    width: 100vw;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(var(--margin-side) * -1);
    padding-bottom: 1rem;
    padding-left: var(--margin-side);
  }

  .addQuestionMobile {
    background-image: linear-gradient(
      to bottom,
      var(--transparent) 0%,
      var(--white) 40%
    );
    width: 100vw;
    position: fixed;
    padding: 2rem 0 2.5rem 0;
    bottom: 0;
    margin-left: calc(var(--margin-side) * -1);
  }

  .addQuestion {
    width: calc(100vw - (var(--margin-side) * 2));
    margin-left: var(--margin-side);
  }
}
