.graphTitleContainer {
  font-size: var(--h6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.movingInfluenceCardsContainer {
  display: flex;
  gap: 1rem;
  height: 6.25rem;
  width: 100%;
}

.graph {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.lastGraph{
  margin-bottom: 5.8125rem;
}

.modalContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.modalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.closeBtn {
  color: var(--grey-400);
}

.modalTitle{
  font-size: var(--h5);
}

.modalText {
  font-size: var(--h6);
}

@media (min-width: 1024px) {
  .graphs {
    display: flex;
    gap: 2rem;
  }

  .wrapper {
    padding-top: 4.5rem;
  }
}

