.modal {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBackground{
  z-index: -1;
  position: absolute;
  /* TODO: change background color to variable */
  background-color: rgba(0, 0, 0, 0.25);
  inset: 0;
}

.modalContent {
  background-color: var(--white);
  border-radius: var(--border-radius-xl);
  padding: 2rem;
  margin: 0 var(--margin-side);
  max-width: 30rem;
  width: 100%;
}
