.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  width: 100%;
}

.title {
  font-size: var(--h4);
  text-align: center;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--h3);
}
