.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 0.5rem;
  border-radius: var(--border-radius);
  font-weight: var(--medium);
  background-color: var(--white);
  padding: 0.875rem 2rem;
  font-size: var(--h6);
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  opacity: 50%;
}

.primary {
  background: var(--blue-500);
  color: var(--white);
}

.primary:hover {
  background-color: var(--blue-600);
}

.secondary {
  background: var(--transparent);
  color: var(--blue-500);
  border: 2px solid var(--blue-500);
}

.secondary:hover {
  background-color: var(--blue-50);
}

.defaultSize {
  width: auto;
}

.fullWidth {
  width: 100%;
}
