.btn {
  padding: 0.88rem;
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--h6);
  font-weight: var(--medium);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background-color 0.3s ease;
}

.btnPrimary {
  background-color: var(--blue-500);
  color: var(--white);
}

.btnPrimary:hover {
  background-color: var(--blue-600);
}

.btnSecondary {
  background-color: var(--white);
  color: var(--blue-500);
  border: 2px solid var(--blue-500);
}

.btnSecondary:hover {
  background-color: var(--blue-50);
}
