.graphContainer {
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.graphTitle {
  font-size: var(--h5);

  @media (max-width: 600px) {
    font-size: var(--h6);
  }
}

.graph {
  width: 100%;
  height: 18.75rem;
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--grey-200);
  padding: 1.4375rem 1rem 0.75rem 1rem;
}
