.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100%;
}

.overlay {
  background: var(--white);
  border-radius: var(--border-radius-xl);
  border: 2px solid var(--gray-200);
  width: min(80%, 40rem);
  padding: 1.5rem 1.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.overlay h1 {
  font-size: var(--h6);
  font-weight: var(--medium);
}
