.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleContainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer h1 {
  font-size: var(--h1);
  font-weight: var(--semi-bold);
  color: var(--blue-600);
}

.titleContainer p {
  font-size: var(--h6);
  font-weight: var(--regular);
}

.formContainer {
  margin-bottom: 4rem;
}

.submit {
  margin-top: 1.625rem;
}

.success {
  font-weight: var(--medium);
  padding: 1rem 0;
  background-color: var(--grey-100);
  border-radius: var(--border-radius);
}

.pebbles {
  z-index: -1;
  position: absolute;
  left: 50%;
  bottom: 52.5%;
  translate: -50% 50%;
}

.waterBackground {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.waterBackground {
  scale: -1.5 1;
}

.water {
  background-color: #2987fb4d;
  flex-grow: 1;
}
