.flex {
  display: flex;
  gap: 0.5rem;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.dots:hover {
  cursor: pointer;
}

.menuContainer {
  position: relative;
}

.menu {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 100px rgba(15, 23, 42, 0.25);
  position: absolute;
  right: 0;
  top: 3rem;
  display: flex;
  flex-direction: column;
}

.menu button:first-of-type {
  border-bottom: 1px solid var(--grey-200);
}

.menuItem {
  padding: 0.875rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--p);
  width: 10rem;
}

.modalText {
  font-size: var(--h6);
  margin-bottom: 2rem;
}

.modalButtons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.modalButtons button {
  flex-grow: 1;
}
